@value makerGreen from '../../common/colors.css';

.title{
    color:makerGreen;
    width: 100%;
    text-align: center;
    margin: 1em;
}

.editor{
    flex-basis:50%;
    background-color: wheat;
}